
*.xml
*.xml
.idea/workspace.xml
*.xml
.idea/dataSources.local.xml
*.xml
*.xml
*.xml
.idea
venv/
.idea/dataSources.local.xml
.idea/dataSources/db6176b9-f8b3-4bf2-9d83-4f3ab3852843.xml
.idea/workspace.xml
__pycache__/hello.cpython-37.pyc
