<style>
    body {
        background-image: url("https://cdn.hipwallpaper.com/i/98/63/rckmR3.jpg");
        background-size: auto auto;
        /*background-repeat: no-repeat;*/
    }

    #boxy { background-color: rgba(255, 255, 255, 0.6); }
</style>

<b><h1 style="text-align: center;" class="display-4">RxHelp</h1></b>
<hr>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="/providerHome/{{ id_number }}"><h5>Patients</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/providerAdd/{{ id_number }}"><h5>Add Patients</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/providerMessages/{{ id_number }}"><h5>Messages</h5></a>
    </li>
</ul>
<hr>