<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | RxHelp</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Javascript/jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

    <!-- Bootstrap UI -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Titillium+Web:400,300,700&amp;subset=latin,latin-ext" />
   <!-- <link rel="stylesheet" href="bootstrap-ui/dist/css/bootstrap-ui.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

    <!-- JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
    <!-- Bootstrap UI END-->

    <style>
        form {display: none;}

        body {background-image: url("https://cdn.hipwallpaper.com/i/98/63/rckmR3.jpg"); }
    </style>

</head>
<body>

    <h1 style="text-align: center" class="display-1">Welcome Patient</h1>
    <h1 style="text-align: center" class="display-4">Please login</h1>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col"></div>
                <div class="col">
                  <form action="{{ url_for('loginPatient')}}" method="post" class="form">
                        <div class="form-group">
                            <label for="patientEmail" class="control-label required">Email address</label>
                            <input type="email" class="form-control" id="patientEmail" aria-describedby="emailHelp" name="usernameP" placeholder="Enter email" value="{{ request.form.username }}">
                            <small id="emailHelp1" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="patientPassword">Password</label>
                            <input type="password" class="form-control" id="patientPassword" placeholder="Password" name="passwordP" value="{{ request.form.password }}">
                        </div>
                        <button type="submit" class="btn btn-primary btn-raised">Submit</button>
                        <button class="btn btn-primary btn-raised backbtn"> Back </button>
                        <a href="/patientHome">Skip past login</a>
                    </form>
                </div>
                <div class="col"></div>
    </div></div>
</body>
</html>