
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>


      <ul class="flashes alert">

        <li class="flashes alert alert-primary">Logged out!</li>

      </ul>





    <form action="/login/" method="post">
      <div class="form-group">
      <input id="csrf_token" name="csrf_token" type="hidden" value="ImZhYjBkZDEyMjcxNDQzZGUxNGZkYzU0ZTRhOWFjNTI0ZmY3OGM2Mjki.DuHd7g.JB7oifd_tmimLpLnUgBLkAPamRY">
      <label for="username">name</label><div class="form-control"><input id="username" name="username" required type="text" value=""></div><br>
      <label for="password">password</label><div class="form-control"> <input id="password" name="password" required type="password" value=""></div><br>
      <input type="hidden" name="next" value="/">
      </form>
     <input type="submit" value="Send">
    </form>
</body>
</html>